# Pandas: Transforming Data

---

## Run The Following Code
Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

## Download Required Data
**The code below here are to downlod the data required for this Weekly Tasks. Don't worry about knowing how to code out this part.**

In [ ]:
!pip install wget

In [ ]:
import wget
wget.download('https://d17lzt44idt8rf.cloudfront.net/data-week-07.zip')
!unzip data-week-07.zip -d .

## Importing and Checking the Data

> Importing pandas

In [ ]:
import pandas as pd

> Read the data from CSV file into a DataFrame

In [ ]:
hdb = 'data/0_raw_data/hdb_resale_sample_raw.csv'

df = pd.read_csv(hdb)

> viewing the contents of the dataset

The main dataset that we will work on is on HDB resale data.<br/>
See the description below for the fields given. <br/>
<br/>
<table>
    <tr><th>Field</th><th>Description</th></tr>
    <tr><td>Trans_YearMonth</td><td>year-month (YYYY-MM) for transaction</td></tr>
    <tr><td>town</td><td>town for the resale flat</td></tr>
    <tr><td>flat_type</td><td>flat type for the resale flat</td></tr>
    <tr><td>block</td><td>block for the resale flat</td></tr>
    <tr><td>street_name</td><td>street for the resale flat</td></tr>
    <tr><td>storey_range</td><td>storey range for the resale flat</td></tr>
    <tr><td>floor_area_sqm</td><td>floor area in square meter</td></tr>
    <tr><td>flat_model</td><td>model of resale flat</td></tr>
    <tr><td>lease_commence_date</td><td>year of lease commencement</td></tr>
    <tr><td>resale_price</td><td>price of the resale flat</td></tr>
</table>

In [ ]:
df.shape #num of rows and columns 15000 rows, 10 columns

In [ ]:
df.head() #first 5 rows of data

## Sorting Rows in DataFrame

In [ ]:
df.sort_values('resale_price') #default ascending

In [ ]:
df.sort_values('resale_price', ascending=False) #descending

In [ ]:
df.sort_values(['lease_commence_date', 'resale_price'], ascending=False) #descending by 2 columns

In [ ]:
df.sort_values(['lease_commence_date', 'resale_price'], ascending=[False,True]) #specify different orders by 2 columns

## Handling Missing & Dirty Values

> Dealing with null values and dirty data

In [ ]:
df.info()

> remove null values

In [ ]:
# this does not store the result
# we will need to assign the output to a variable or overwrite the current df
# df = df.dropna()
df.dropna()

> update null values

In [ ]:
# This replace the missing values (NaN) with the string 'BEDOK'
df['town'] = df['town'].fillna('BEDOK')

In [ ]:
df.info()

> replace values in a DataFrame's column

In [ ]:
df['town'].unique()

In [ ]:
# Remember to reassigned the revised values into existing column (or a new column)
df['town'] = df['town'].replace('ANG MOO KIO', 'ANG MO KIO')

In [ ]:
df['town'].unique()

## Aggregating Numbers based on Category

> GroupBy

In [ ]:
groupby_town = df.groupby('town')

In [ ]:
groupby_town['resale_price'].mean() #mean of numerical values, you can try other Math functions!

In [ ]:
groupby_town_flattype = df.groupby(['town','flat_type'])

In [ ]:
groupby_town_flattype['resale_price'].mean()

> Pivot Table

In [ ]:
df.pivot_table(values='resale_price', index='town', columns='flat_type', aggfunc='mean')

## Processing Data with Customized Logics

### Involving Values from One Column

In [ ]:
#Splitting year month
def get_year(row): 
    yearmonth_string = row['Tranc_YearMonth']
    year_string = yearmonth_string.split('-')[0]
    year_string = int(year_string)
    return year_string

In [ ]:
# The apply() method will produce output as a Pandas Series object
# Which is similar a column of values
# So if we don't assign/store the output, it will just display on Jupyter Notebook
# !!!! Always remember to use axis=1
df.apply(get_year, axis=1)

In [ ]:
# Remember to assign the output to a new column (or overwriting the existing column if applicabble)
df['Tranc_Year'] = df.apply(get_year, axis=1)

### Involving Values from Multple Columns

In [ ]:
#Function for row data
def get_hdb_type_model(row):
    type_model = row['flat_type'] + ' ' + row['flat_model']
    return type_model

In [ ]:
df.apply(get_hdb_type_model, axis=1) #applying function to all rows

In [ ]:
df['flat_type_model'] = df.apply(get_hdb_type_model, axis=1) #assign as new column

## Exporting the Processed DataFrame

In [ ]:
output_filepath = 'data/1_processed_data/hdb_resale_sample_processed.csv'

# set "index=False" to exclude the index being exported as part of the CSV
df.to_csv(output_filepath, index=False)

# [OPTIONAL]: Extra Learning

## Exporting DataFrame as a Static Webpage (HTML File)
The **export_dataframe_as_webpage.html** file can be downloaded Google Colab. 

Then, you can open the file using any browser to view the data table.

In [ ]:
df_temp = df.head(100)
df_temp.to_html('data/export_dataframe_as_webpage.html')


<br>

---

---

# !! Your Turn !!

## Replace the code marked as <..> or fill the empty cell COMPLETELY with your own code
Don't constrained by the <..>, it's just a guide. Feel free to insert more lines of code.
Or using less lines of code is also fine.

<br>

---

# Question 1 
A) Read hdb_resale_full_raw.csv into pandas and named it <b>df</b> <br/>

In [ ]:
df = <..>

<br>
B) Find out which column(s) has records with missing values

💡 Hint: use info() or any other methods

<br>

---

# Question 2

<br>

A) Let's examine the **Tranc_YearMonth column** by listing the all unique values in the dataset <br/>

<br>

B) You are being informed that the records are ordered from the **earliest** to the **latest** transactions.\
Use this information to fill the missing values in the **Tranc_YearMonth** column. \
⚠️ Note: Remember to assign the values back to the column

---

<br>

B) You are also being informed there are typos for same values in **flat_type** column due to some errors.\
There are "3 ROOM" and "3 ROOMS". **Correct the typos**.

💡 # Hint: Use .replace() or any other methods

⚠️ Note: Ignore the missing values in this column for now.

<br>

---

# Question 3

A) Retrieve all the transactions for **4-room flats** from **Clementi** and\
the records must be in the order which the **latest transactions are at the top of the DataFrame**.\
Note: There is no need to store the final output. Just display in Jupyter Notebook.

In [ ]:
df_temp = <..>
df_temp.<..>

<br>

---

B) Sort the records in the **df**, which the records are ordered by:
1. Lease Commence Year (Newest to Oldest)
2. Transaction Year (Newest to Oldest)
3. Town (In alphabetical order)
4. Flat Type (In alphabetical order)
5. Resale Price (Lowest to Highest Price)

Note: There is no need to store the final output. Just display in Jupyter Notebook.

Your DataFrame should look something like this.\
![](https://i.imgur.com/d5Vfff1.jpeg)

<br>

---

# Question 4
A) Find out the highest resale price value for 4-ROOM flat across all the towns.\
To simplify this, assume the calculation is
- based on the resale price only
- regardless of the age of the flats

Note: Just display the resale price in Jupyter Notebook

In [ ]:
df[<..>].resale_price.<..>

<br>

B) Display the record for the transactio from A) above

The output should look something like this:\
![](https://i.imgur.com/CelHZd0.jpeg)

In [ ]:
highest_resale_price = <..>

df[<..>]

<br>
   
C) Find out the what is the highest price for the different **Flat Types**

💡Hint: use .groupby() method\
Note: Just display the resale price in Jupyter Notebook

In [ ]:
groupby_flattype = <..>
groupby_flattype.<..>

<br>
D) For each of the towns, find out what is the highest resale price for the different Flat Types.

Store the result in new DataFrame, called **df_highest_price**.

💡Hint: You might need .reset_index() to convert the result into a typical DataFrame

In [ ]:
groupby_town_flattype = <..>
<..>
<..>

In [ ]:
# No need to modify this cell. Just execute.
# if above codes are correct, this should return "True"
# The idea is that if the groupby result is in DataFrame, then we can use the data easily
type(df_highest_price) == pd.core.frame.DataFrame

In [ ]:
# No need to modify this cell. Just execute.
# Display the result
df_highest_price

---

# Question 5

A) Find the **number of transactions** which **resale price** is **less than $500,000** for each town. \
**<u>Optional</u>**: Display the result, with the **town with most number of transaction first row** and the **town with least number of transaction as the last row**.
<br/>

💡 Hint: There is an aggregation method for the groupby object, called **.count()&** and **.size()**.\
You may look up for more information on how use these two methods.

In [ ]:
df_temp = <..>

<..>

<..>

B) Based on the transactions where the  **resale price** is **less than $500,000**,\
generate a pivot table to show the **median** **resale price** for the different **flat types** from each of the towns.

The output looks something like this:\
![](https://i.imgur.com/sqMDjeP.jpeg)

In [ ]:
df_temp = <..>

df_temp.<..>

---

# Question 6

<br>

A) Create a new column **storey_midpoint** to store the middle value of the **storey_range**.\
For example, if the **storey_range** is '05 to 07", it should will be 6 (as an Integer).


💡Hint: use apply() method and you will need to define a function to be used with the apply() method.

In [ ]:
def get_mid_storey(row):
    top = <..>
    bottom = <..>
    mid = <..>
    return <..>

In [ ]:
df['storey_midpoint'] = df.<..>

<br>

B) Create a new column **address** to that combine the **block number** and the **street name**.\
For example: the address for the first row is "172, ANG MO KIO AVE 4".

In [ ]:
def get_lower_letters(row):
    <..>

In [ ]:
<..>

<br>

C) There are some missing values in the **flat_type** model.\
After confirming with the domain/business users, there are only 2 possibilities:

- if the floor_area_sqm is **at least 110 squared meters** then it's 5-room flat
- **otherwise** it's 4-room flat

you requested to use the following logics to fill up the missing values:\
hint: 
- you can use the .apply() method or any other approaches. 
- you will also need to check if the value is missing

Note: This is simplified logic solely for practice purpose

In [ ]:
def fill_missing_flat_type(row):
    value_to_return = '' #empty string
    
    # Checking if the value in this column is missing
    if pd.isna(row['flat_type']):
        <..>
        <..>
    <..>
        <..>
    
        
    return value_to_return

In [ ]:
<..>

# Exporting the Processed Data
Save the processed df in **1_processed_data** folder as <b>hdb_resale_full_processed.csv</b> <br/>

In [ ]:
<..>